<body class="bg-gray-100 p-10">
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">

        <div class="bg-white shadow-md rounded-lg p-6 w-10/12 h-5/6 overflow-auto">
            <h5 class="font-semibold mb-6">Motorcycle Details</h5>
            <form  [formGroup]="motorForm" class="grid grid-cols-2 gap-4">
              <div class="col-span-2">
                <label class="block font-medium">Motorcycle Image</label>
                <img *ngIf="motorForm.value.motor_picture" [src]="motorForm.value.motor_picture" alt="Motorcycle Image" class="w-32 h-32 object-cover mt-2 rounded-md">
               
                <div class="flex items-center mt-4">
                  <label class="block font-medium mr-2">Availability:</label>
                  <input type="checkbox" formControlName="isVisible" [disabled]="isViewOnly" class="mr-2">
                  <span>{{ motorForm.get('isVisible')?.value ? 'Available' : 'Not Available' }}</span>
                </div>

              </div>


                
              <div class="col-span-2 flex justify-end mb-4">
                <button *ngIf="!isViewOnly" type="button" (click)="saveChanges()" class="px-6 py-2 bg-green text-white rounded-md hover:bg-gray">Save</button>
                <button type="button" (click)="toggleEditMode()" class="px-6 py-2 bg-blue text-white first-letter:rounded-md hover:bg-gray ml-4">
                  {{ isViewOnly ? 'Edit' : 'Cancel' }}
                </button>
              </div>
      
              <div>
                <label class="block font-medium">Plate Number</label>
                <p class="w-full px-3 py-2 border rounded-md">{{ motorForm.value.plate_no }}</p>
              </div>
          
              <div>
                <label class="block font-medium">Model Name</label>
                <p class="w-full px-3 py-2 border rounded-md">{{ motorForm.value.model }}</p>
              </div>
          
              <div>
                <label class="block font-medium">Color</label>
                <p class="w-full px-3 py-2 border rounded-md">{{ motorForm.value.color }}</p>
              </div>
          
              <div>
                <label class="block font-medium">Cubic Capacity</label>
                <p class="w-full px-3 py-2 border rounded-md">{{ motorForm.value.cubic_capacity }}</p>
              </div>
          
              <div>
                <label class="block font-medium">Category</label>
                <p class="w-full px-3 py-2 border rounded-md">
                  {{ getCategoryName(motorForm.value.category_id) }}
                </p>
              </div>
          
              <div>
                <label class="block font-medium">Price/day</label>
                <p class="w-full px-3 py-2 border rounded-md">₱{{ motorForm.value.price }}.00</p>
              </div>
          
              <div class="col-span-2">
                <label class="block font-medium">Description</label>
                <p class="w-full px-3 py-2 border rounded-md">{{ motorForm.value.description }}</p>
              </div>
          
              <div>
                <label class="block font-medium">Helmet Price</label>
                <p class="w-full px-3 py-2 border rounded-md">₱{{ motorForm.value.helmet_price || '0' }}.00</p>
              </div>
              <div>
                <label class="block font-medium">Storage Price</label>
                <p class="w-full px-3 py-2 border rounded-md">₱{{ motorForm.value.storage_price || '0' }}.00</p>
              </div>
          
             
          
              <div class="col-span-2 flex gap-4 mt-6 justify-end">
                <button type="button" (click)="close()" class="px-6 py-2 bg-blue text-white rounded-md hover:bg-gray">Close</button>
              </div>
              
            </form>
        </div>



    </div>
</body>



  